{% extends 'main/base.html' %}
{% load static %}

{% block title %}Карбонара{% endblock %}

{% block content %}
<h1>Карбонара</h1>
<div class="col-lg-8 col-md-6 col-xs-12">
	<div class="img_dish">
		<img src="{% static 'img/foto-1548-2.jpg' %}" class="col-lg-12 col-md-12 col-xs-12">
	</div>
	<p>Рецепт класичної італійської пасти з регіону Лаціо.</p>
	<p><b>Тобі знадобиться:</b> <i><u>400 г спагетті, 6 ст. оливкової олії, 2 зубчики часнику, 300 г шинки, 4 жовтки, 100 г тертого пармезану, 200 мл 10% вершків, спеції.</u></i></p>
	<p><b>Приготування:</b> Приготовление: Обжарь чеснок в оливковом масле и добавь к нему мелко рубленый бекон. Взбей желтки со сливками и немного присоли. Отварные спагетти добавь к бекону, перемешай и залей взбитыми желтками. Присыпь тертым пармезаном и через 3 минуты сними с огня. При подаче можешь добавить еще желток.</p>
</div>
<span class="end"><h1>Смачного! 🤗</h1></span>
{% endblock %}