{% extends 'main/base.html' %}
{% load static %}

{% block title %}Болоньєзе{% endblock %}

{% block content %}
<h1>Болоньєзе</h1>
<div class="col-lg-8 col-md-6 col-xs-12">
	<div class="img_dish">
		<img src="{% static 'img/foto-1548-3.jpg' %}" class="col-lg-12 col-md-12 col-xs-12">
	</div>
	<p>Болоньезе – это итальянский мясной соус, который чаще всего подают с пастой или спагетти.</p>
	<p><b>Тобі знадобиться:</b> <i><u>900 г яловичого фаршу, 300 г цибулі, 1 головка часнику, 50 мл оливкової олії, по 50 г базиліка, орегано та петрушки, 100 г томатної пасти, 100 г сиру, 250 мл бульйону, 150 г кетчупу, 150 г кетчупу.</u></i></p>
	<p><b>Приготування:</b> Подрібнити цибулю з часником і обсмажити в оливковій олії. Додай до них фарш і обсмаж близько 20 хвилин, розбиваючи грудки. Зби в блендері очищені помідори, кетчуп і томатну пасту з бульйоном і додай до м'яса. Протушкуй 2-3 хвилини, додай зелень і продовжуй готувати ще 15 хвилин. Подавай зі спагетті та тертим сиром.</p>
</div>
<span class="end"><h1>Смачного! 🤗</h1></span>
{% endblock %}