{% extends 'main/base.html' %}
{% load static %}

{% block title %}Поркетта{% endblock %}

{% block content %}
<h1>Поркетта</h1>
<div class="col-lg-8 col-md-6 col-xs-12">
	<div class="img_dish">
		<img src="{% static 'img/foto-1548-5.jpg' %}" class="col-lg-12 col-md-12 col-xs-12">
	</div>
	<p>Запечений свинячий рулет із спеціями, який можна легко приготувати у духовці.</p>
	<p><b>Тобі знадобиться:</b> <i><u>2 кг сала з м'ясним прошарком, 100 г оливок, 100 г волоських горіхів, 3 маринованих перцю, 6 зубчиків часнику, 1 пачка орегано, 1 ст.л. зернистої гірчиці.</u></i></p>
	<p><b>Приготування:</b> Натрій сало сіллю з орегано і розклади зверху рубані горіхи з оливками. Розклади зубчики часнику та мариновані перці, змасти все гірчицею, зверни рулет і затягни кулінарною ниткою. Випікай його 1,5 години за 190 градусів.</p>
</div>
<span class="end"><h1>Смачного! 🤗</h1></span>
{% endblock %}