{% extends 'main/base.html' %}
{% load static %}

{% block title %}Равіолі{% endblock %}

{% block content %}
<h1>Равіолі</h1>
<div class="col-lg-8 col-md-6 col-xs-12">
	<div class="img_dish">
		<img src="{% static 'img/foto-1548-1.jpg' %}" class="col-lg-12 col-md-12 col-xs-12">
	</div>
	<p>Симпатичні пельмені з тіста для пасти з різноманітною начинкою. Спробуй зі шпинатом та рикоттою!</p>
	<p><b>Тобі знадобиться:</b> <i><u>250 г борошна, 5 яєць, 300 г рикотти, 300 г шпинату, щіпка мускатного горіха, 30 г вершкового масла, 2 ч.л. оливкової олії.</u></i></p>
	<p><b>Приготування:</b> Змішай у блендері 1 яйце, 4 жовтки і борошно, і потім виміси руками еластичне тісто. На півгодини прибери його до холодильника. Подрібнений шпинат припусти в сковороді на суміші двох олій, приправ і змішай з рикоттою.</p>
</div>
<span class="end"><h1>Смачного! 🤗</h1></span>
{% endblock %}