{% extends 'main/base.html' %}
{% load static %}

{% block title %}Різотто{% endblock %}

{% block content %}
<h1>Різотто</h1>
<div class="col-lg-8 col-md-6 col-xs-12">
	<div class="img_dish">
		<img src="{% static 'img/foto-1548-0.jpg' %}" class="col-lg-12 col-md-12 col-xs-12">
	</div>
	<p>Второе после пасты самое известное итальянское блюдо, чтобы менять начинки и сочетания хоть каждый день.</p>
	<p><b>Тобі знадобиться:</b> <i><u>2 склянки рису, 3 склянки бульйону, 3 ст.л. оливкової олії, 1 цибулина, 1/3 склянки білого вина, 2 ст.л. вершкового масла, 1/3 склянки тертого сиру.</u></i></p>
	<p><b>Приготування:</b> Обсмаж подрібнену цибулю в оливковій олії, додай до неї рис і просмаж до прозорості. Залий вином і випаруй, помішуючи. Поступово підливай бульйон і продовжуй готувати рис на маленькому вогні хвилин 20. Наприкінці додай вершкове масло та сир.</p>
</div>
<span class="end"><h1>Смачного! 🤗</h1></span>
{% endblock %}