{% extends 'main/base.html' %}
{% load static %}

{% block title %}Лазанья{% endblock %}

{% block content %}
<h1>Лазанья</h1>
<div class="col-lg-8 col-md-6 col-xs-12">
	<div class="img_dish">
		<img src="{% static 'img/foto-1548-4.jpg' %}" class="col-lg-12 col-md-12 col-xs-12">
	</div>
	<p>Своєрідна багатошарова запіканка з фаршем, грибами та кількома видами сиру.</p>
	<p><b>Тобі знадобиться:</b> <i><u>10 листів лазаньї, 600 г соусу болоньєзе, 600 г фаршу, 60 г вершкового масла, 2,5 ст.л. муки, 2 ст.л. оливкової олії, 750 мл молока, 500 г сиру.</u></i></p>
	<p><b>Приготування:</b> Розтопи вершкове масло, додай муку|борошно| і розмішай, щоб не було грудочок. Повільно влий молоко та увари соус до консистенції сметани. Обсмажити фарш в оливковій олії до напівготовності і перемішати з болоньезе.

	Вилий у форму трохи білого соусу, поклади пласти лазаньї та крій фаршем. Зверху – сир, знову білий соус, та повтори. Останній шар бешамелю щедро засип сиром, залиш на 10 хвилин і запікай півгодини при 180 градусах.</p>
</div>
<span class="end"><h1>Смачного! 🤗</h1></span>
{% endblock %}